<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <!--Insert reference to log4net config-->
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <log4net configSource="log4net.config"/>
  <appSettings>
    <!--<add key="log4net.Internal.Debug" value="true" />-->
    <add key="log4net.Config" value="log4net.config"/>
    <add key="log4net.Config.Watch" value="True"/>
