<?xml version="1.0" encoding="utf-8" ?>
<!--TODO: Copy file to output program folder and place config file within the project running
    Also add reference to Web/App config file-->
<log4net>
  <appender name="Logger" type="log4net.Appender.RollingFileAppender">
    <param name="File" value="[Log_Filename_Destination]" />
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    <appendToFIle value="true" />
    <rollingStyle value="Size" />
    <maxSizeRollBackups value="10" />
    <maximumFileSize value="10MB" />
    <staticLogFileName value="true" />
    <layout type="log4net.Layout.PatternLayout">
      <param name="ConversionPattern" value="%d [%t] %-5p %m%n" />
    </layout>
  </appender>

  <appender name="LoggerXML" type="log4net.Appender.RollingFileAppender">
    <param name="File" value="[Log_Filename_Destination]" />
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    <appendToFIle value="true" />
    <rollingStyle value="Size" />
    <maxSizeRollBackups value="10" />
    <maximumFileSize value="10MB" />
    <staticLogFileName value="true" />
    <layout type="log4net.Layout.XmlLayout" />      
  </appender>

  <appender name="LoggerSMTP" type="log4net.Appender.SmtpAppender">
    <To value="[Email_To]" />
    <From value="no-reply@no-reply.com" />
    <Subject value="[ERROR_EMAIL_SUBJECT]" />
    <smtpHost value="[SMTP_GATEWAY]" />
    <authentication value="Basic"/>
    <port value="587" />
    <EnableSsl value="true"/>
    <BufferSize value="1" />
    <Lossy value="false" />
    <Evaluator type="log4net.Core.LevelEvaluator" >
      <Threshold value="DEBUG" />
    </Evaluator>
    <layout type="log4net.Layout.PatternLayout">
      <param name="ConversionPattern" value="%newline%date  %-5level %logger - %message%newline%newline" />
    </layout>
  </appender>

  <root>
    <level value="DEBUG" />
    <appender-ref ref="Logger" />
  </root>
  <logger name="LoggerXML" >
    <level value="DEBUG"></level>
    <appender-ref ref="LoggerXML"></appender-ref>
  </logger>
  <logger name="LoggerSMTP" >
    <level value="ERROR"></level>
    <appender-ref ref="LoggerSMTP"></appender-ref>
  </logger>
</log4net>